body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 300px;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
}

.card img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

.card-content {
  padding: 10px 0;
}

.card h2 {
  margin: 0 auto;
  font-size: 10px;
}

.card p {
  margin: 0 auto;
  font-size: 5px; 
  color: #666;
}